CompileFlags:
  Add:
    - -std=gnu++23
    - -Wno-unknown-warning-option
CompilationDatabase: .

Index:
  Background: Build

Diagnostics:
  UnusedIncludes: Relaxed
  MissingIncludes: Relaxed

If:
  PathMatch: .*
  PathExclude: .*/(build|cmake-build-.*|\.git)/.*
